{% extends "basetemplate.html" %}

{% block title %} Topics {% endblock %}

{% block content %}
<table class="topics">
	<thead>
		<tr>
			<th scope="col"><a href="/topics/">Topic Name</a></th>
			<th scope="col">Scriptures</th>
			<th scope="col">Talks</th>
			<th scope="col">Quotes</th>
			<th scope="col">
			<a href="/topics/?order_by=-last_modified">Last Modified</a></th>
		</tr>
	</thead>
	<tbody>
		{% for topic in topics %}
			<tr>
				<td><a href="../topic/{{ topic.name }}">{{ topic.indexname }}</a></td>
				<td>{{ topic.num_scriptures }}</td>
				<td>{{ topic.num_talks }}</td>
				<td>{{ topic.num_quotes }}</td>
				<td>{{ topic.last_modified|timesince }} ago</td>
			</tr>
		{% endfor %}
		<tr>
			<td><a href="add">Add a new topic</a></td>
			<td></td><td></td><td></td><td></td>
		</tr>
	</tbody>
</table>
{% endblock %}
