{% extends "basetemplate.html" %}

{% block title %} Topics {% endblock %}

{% block content %}
<table class="topics">
	<thead>
		<tr>
			{% ifnotequal ordering "indexname" %}
				<th>
					<a href="/topics/?order_by=indexname">Topic Name</a>
				</th>
			{% else %}
				<th>
					<a href="/topics/?order_by=-indexname">Topic Name</a>
				</th>
			{% endifnotequal %}
			{% ifnotequal ordering "-scriptures" %}
				<th>
					<a href="/topics/?order_by=-scriptures">Scriptures</a>
				</th>
			{% else %}
				<th>
					<a href="/topics/?order_by=scriptures">Scriptures</a>
				</th>
			{% endifnotequal %}
			{% ifnotequal ordering "-talks" %}
				<th>
					<a href="/topics/?order_by=-talks">Talks</a>
				</th>
			{% else %}
				<th>
					<a href="/topics/?order_by=talks">Talks</a>
				</th>
			{% endifnotequal %}
			{% ifnotequal ordering "-quotes" %}
				<th>
					<a href="/topics/?order_by=-quotes">Quotes</a>
				</th>
			{% else %}
				<th>
					<a href="/topics/?order_by=quotes">Quotes</a>
				</th>
			{% endifnotequal %}
			{% ifnotequal ordering "-last_modified" %}
				<th colspan=2>
					<a href="/topics/?order_by=-last_modified">Last Modified</a>
				</th>
			{% else %}
				<th colspan=2>
					<a href="/topics/?order_by=last_modified">Last Modified</a>
				</th>
			{% endifnotequal %}
		</tr>
	</thead>
	<tbody>
		{% for topic in topics %}
			<tr>
				<td><a href="/topic/{{ topic.id }}">{{ topic.indexname }}</a></td>
				<td>{{ topic.scripturereferenceentry_set.all|length }}</td>
				<td>{{ topic.talkentry_set.all|length }}</td>
				<td>{{ topic.quoteentry_set.all|length }}</td>
				<td>{{ topic.last_modified|timesince }} ago</td>
				<td>
					<form>
						<input type="button"
						onclick="confirm_delete('/topics', '{{ topic.name }}', '{{ topic.id }}')"
						class="table_button"
					   	value="Delete" />
					</form>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td><a href="add">Add a new topic</a></td>
			<td></td><td></td><td></td><td></td><td></td>
		</tr>
	</tbody>
</table>
{% endblock %}
