{% extends "basetemplate.html" %}

{% block title %}{{ topic.name }}{% endblock %}

{% block content %}
<h1>{{ topic.name }}</h1>
{% if topic.subheading %}
<h2>{{ topic.subheading }}</h2>
{% endif %}
<h3>See also</h3>
{% for r_topic in topic.related_topics.all %}
<a href="/topic/{{ r_topic }}">{{ r_topic.name }}</a>
<br>
{% endfor %}
<br>
<a href="addrt">Add a related topic</a>
<h3> Notes </h3>
{{ topic.notes }}
<br>
<a href="/topics/edit{{ topic.id}}">Edit name and notes</a>
<h3> Talks </h3>
	<ul>
	{% for talk in topic.talk_set %}
	{% if talk.notes %}
	<li class=notes>
	{% else %}
	<li class=no_notes>
	{% endif %}
	{% if talk.quote %}
	{{ talk.quote }}
	<br> --
	{% endif %}
	<a href='/talk/{{ talk.talk.id }}'>{{ talk }}</a>
	<a href='t{{ talk.id }}'>Edit</a>
	{% if talk.notes %}
	<ul><li>{{ talk.notes }}</li></ul>
	{% endif %}
	</li>
	{% endfor %}
	</ul>
	<br>
	<a href='addt'>Add a talk</a>
<div class=scriptures>
<h3> Scripture References </h3>
	<ul>
	{% for ref in topic.scripture_set %}
	{% if ref.notes %}
	<li class=notes>
	{% else %}
	<li class=no_notes>
	{% endif %}
	{{ ref }} <a href=sr{{ ref.id }}>Edit</a>
	{% if ref.notes %}
	<ul><li>{{ ref.notes }}</li></ul>
	{% endif %}
	</li>
	{% endfor %}
	</ul>
	<br>
	<a href='addsr'>Add a scripture reference</a>
</div>
<h3> Quotes </h3>
	<ul>
	{% for quote in topic.quote_set %}
	{% if quote.notes %}
	<li class=notes>
	{% else %}
	<li class=no_notes>
	{% endif %}
	{{ quote.quote }} 
	<br> -- <a href='/person/{{ quote.person.id }}'>{{ quote.person.name }},</a>
	{{ quote.source }}
	<a href=q{{ quote.id }}>Edit</a>
	{% if quote.notes %}
	<ul><li>{{ quote.notes }}</li></ul>
	{% endif %}
	</li>
	{% endfor %}
	</ul>
	<br>
	<a href='addq'>Add a quote</a>
<br>
<br>
{% endblock %}
