<h1>{{ topic.name }}</h1>
{% if topic.notes %}
<h3> Notes </h3>
{{ topic.notes }}
{% endif %}
<br>
<a href="/topics/edit{{ topic.id}}">Edit name and notes</a>
<h3> Talks </h3>
	<ul>
	{% for talk in topic.talk_set %}
	<li>
	{% if talk.quote %}
	{{ talk.quote }}
	<br> --
	{% endif %}
	<a href='/talk/{{ talk.talk.id }}'>{{ talk }}</a>
	<a href='t{{ talk.id }}'>Edit</a>
	</li>
	{% endfor %}
	</ul>
	<br>
	<a href='addt'>Add a talk</a>
<h3> Scripture References </h3>
	<ul>
	{% for ref in topic.scripture_set %}
	<li>{{ ref }} <a href=sr{{ ref.id }}>Edit</a></li>
	{% endfor %}
	</ul>
	<br>
	<a href='addsr'>Add a scripture reference</a>
<br>
<br>
<a href='/topics/'>Back to topics</a>
<a href='/'>Home</a>
