{% extends "basetemplate.html" %}

{% block title %} Callings {% endblock %}

{% block content %}

<form action="" method="get">
	<table class=dateform>
		<col width=5%>
		<col width=5%>
		<tr>
			<td> Year: </td>
			<td><input type="text" name="year" value={{year}} /></td>
		</tr>
		<tr>
			<td> Month: </td>
			<td><input type="text" name="month" value={{month}} /></td>
		</tr>
		<tr>
			<td> Day: </td>
			<td><input type="text" name="day" value={{day}} /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Go to Date" /></td><td></td>
		</tr>
	</table>
</form>

<table class=first_presidency>
	<thead>
		<th>
			First Presidency
		</th>
	</thead>
	<tbody>
		{% if callings.president %}
		<tr>
			<td><a href="/person/{{callings.president.id}}">{{ callings.president }}</a></td>
		</tr>
		{% endif %}
		{% if callings.first_counselor %}
		<tr>
			<td><a href="/person/{{callings.first_counselor.id}}">{{ callings.first_counselor }}</a></td>
		</tr>
		{% endif %}
		{% if callings.second_counselor %}
		<tr>
			<td><a href="/person/{{callings.second_counselor.id}}">{{ callings.second_counselor }}</a></td>
		</tr>
		{% endif %}
		{% if callings.extra_counselors %}
			{% for counselor in callings.extra_counselors %}
			<tr>
				<td><a href="/person/{{counselor.id}}">{{ counselor }}</a></td>
			</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>

<table class=apostles>
	<thead>
		<th>
			Apostles
		</th>
	</thead>
	<tbody>
		{% for apostle in callings.apostles %}
		<tr>
			<td><a href="/person/{{apostle.id}}">{{ apostle }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<table class=presiding_bishopric>
	<thead>
		<th>
			Presiding Bishopric
		</th>
	</thead>
	<tbody>
		{% if callings.presiding_bishop %}
		<tr>
			<td><a href="/person/{{callings.presiding_bishop.id}}">{{ callings.presiding_bishop }}</a></td>
		</tr>
		{% endif %}
		{% if callings.presiding_bishopric %}
			{% for bishop in callings.presiding_bishopric %}
			<tr>
				<td><a href="/person/{{bishop.id}}">{{ bishop }}</a></td>
			</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>

<table class=seventy>
	<thead>
		<th>
			Seventy
		</th>
	</thead>
	<tbody>
		{% for seventy in callings.seventy %}
		<tr>
			<td><a href="/person/{{seventy.id}}">{{ seventy }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
