{% extends "basetemplate.html" %}

{% block title %}{{ person.name }}{% endblock %}

{% block content %}
<h1>{{ person.name }}</h1>
<h3> Bios </h3>
<ul>
{% if person.wikipedia_bio %}
<li><a href="{{ person.wikipedia_bio }}">Wikipedia</a></li>
{% endif %}
{% if person.ga_bio %}
<li><a href="{{ person.ga_bio }}">Grampa Bill's G.A. Pages</a></li>
{% endif %}
</ul>
{% if callings %}
<h3> Callings </h3>
	<ul>
	{% for calling in callings %}
	<li>{{ calling.pretty }}</li>
	{% endfor %}
	</ul>
{% endif %}
<a href="/person/{{ person.id }}/edit">Edit {{ person.name }}'s information</a>
{% if talks %}
<h3> Talks </h3>
<table>
	<thead>
		<th>Title</th>
		<th>Type</th>
		<th>Date</th>
		<th>Rating</th>
		<th>Topics</th>
		<th>Text</th>
		<th>Link</th>
	</thead>
	{% for talk in talks %}
		<tr>
			<td><a href="/talk/{{ talk.id }}">{{ talk.title }}</a></td>
			<td>{{ talk.get_type_display }}</td>
			<td>{{ talk.date_string }}</td>
			<td>{{ talk.get_rating }}</td>
			<td>{{ talk.talkentry_set.all|length }}</td>
			{% if talk.text %}
				<td><a href="/talk/{{ talk.id }}">Text</a></td>
			{% else %}
				<td>No text</td>
			{% endif %}
			{% if talk.externallink %}
				<td><a href="{{ talk.externallink }}">Link</a></td>
			{% else %}
				<td>No link</td>
			{% endif %}
		</tr>
	{% endfor %}
	<tr>
		<td><a href="addtalk">Add a talk</a></td>
		<td></td><td></td><td></td><td></td><td></td>
	</tr>
</table>
{% endif %}
{% endblock %}
