{% extends "basetemplate.html" %}

{% block title %}{{ talk }}{% endblock %}

{% block content %}
{% if talk.title %}
<h1>{{ talk.title }}</h1>
{% else %}
<h1>No Title</h1>
{% endif %}
<a href='/person/{{ talk.speaker.id }}'>
{% if talk.speakername %}
<h3>{{ talk.speakername }} </h3>
{% else %}
<h3>{{ talk.speaker.name }}</h3>
{% endif %}
</a>
<h3>{{ talk.date }}</h3>
<h3>{{ talk.get_type_display }}</h3>
<a href="edit">Edit talk information and text</a>
<table class="topicsfortalk">
	<col width=40%>
	<thead>
		<th>Topics</th>
	</thead>
	<tbody>
		{% for entry in talk.talkentry_set.all %}
		<tr>
			<td>
				<a href="/topic/{{ entry.topic.name }}">{{ entry.topic.name }}</a>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td>
				<form method="post" action="addtotopic">
				{{ topicform }}
				<input type="submit" name="submit" value="Add to topic" />
				</form>
			</td>
		</tr>
	</tbody>
</table>
<h3>Text:</h3>
{{ talk.text|linebreaks }} 
{% endblock %}
