<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{% block title %}{{ title|default:"Matt's Study Journal" }}{% endblock %}</title>
<link rel="stylesheet" title="default" href="/site_media/style.css" type="text/css" />
<script type="text/javascript" src="/site_media/on_click.js"></script>
</head>

<body>

<div class="sitemenu">
    <ul>
        <li><a href="/">People</a></li>
        <li><a href="/topics">Topics</a></li>
        <li><a href="/scriptures">Scriptures</a></li>
        <li><a href="/callings">Callings</a></li>
    </ul>
</div>

<div class="page">

{% block content %}
{{ content }}
{% endblock %}

</div>

</body>
</html>
